*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}

body{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* #canvas{
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

option{
    color: white;
}

.dropDown{
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    font-weight: 100;
}

.UIcontainer{
    display: flex;
    align-items: center;
    gap: 15px;
}
